#wrire-create, #writeNum{
    font-size: 36pt !important; 
    color: #4994FE;
    border-radius: 1px;
    font-family: 'Comfortaa' ;
}

.tracker {
    justify-content: center;
    text-align: center;
}

.spectr {
    color: white !important;
}

  
.battery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Батарейка */
.battery {
    width: 122px;
    height: 201px;
    border: 1px solid #A6B1D1;
    border-radius: 12px;
    position: relative;
}

/* Уровень заряда */
.battery-level {
    width: 100%;
    height: 56%; /* Высота уровня заряда, измените на 60% или другое значение */
    background-color: #e1d563;
    position: absolute ;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Линии сетки */
.battery-grid .grid-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dashed #A6B1D1;
}

/* Цифры */
.battery-numbers {
    position: absolute;
    left: -20px;
    color: white;
    font-family: "Comfortaa" !important;
    font-size: 10px !important;
}

.battery-numbers p {
    position: relative;
    transform: translateY(150%) !important;
    margin-top: -11px !important;
}


.dashed {
    border-top: 2px dashed #6E2257;
    text-align: center;
    justify-content: center;
    align-items:center;
    width: 100%;
    position: relative;
    top: 7em;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.graph {
    position: relative;
    width: 100%;
    height: 100%;
}

.label-bottom{
    position: relative;
    top:10em !important;
}

.stable {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 26px;
    border-radius: 8px;
    justify-content: center;
    margin-right: 5px;
    top:35px;
}

.positive {
    background-color: #61BF66;
}

.negative {
    background-color: #8041B1;
    transform: translateY(100%) !important;
}

.stable-container{
    position: absolute;
    justify-content: center;
    align-items:center;
    text-align: center;
}

@media (max-width: 720px) {
    /* Уменьшаем общий размер календаря */
    .calendar {
        transform: scale(0.4);       /* Уменьшаем масштаб всего календаря */
        transform-origin: top left;  /* Точка отсчета для масштабирования */
    }

    /* Уменьшаем размер шрифта для заголовка */
    .calendar-header {
        font-size: 16pt !important;
    }

    /* Уменьшаем размер шрифта для месяца и года */
    .month-picker, .year-picker {
        font-size: 16pt !important;
    }

    /* Уменьшаем размер текста для дней недели */
    .calendar-week-day div {
        margin-left: 2.5rem;
        font-size: 16pt !important;
        width: 50px !important;      /* Уменьшаем ширину ячеек */
        height: 50px !important;     /* Уменьшаем высоту ячеек */
        line-height: 10px !important;/* Центрируем текст */
    }
    /* Уменьшаем отступы для календаря */
    .calendar-body {
        padding: 0px !important;  /* Уменьшаем внутренние отступы */
    }

    /* Уменьшаем размер текста для дней */
    .calendar-days {
        font-size: 16pt !important;
    }
    #calendar-size{
        width: 800px !important;
    }
}
@media (max-width: 361px) {

    #calendar-move{
        width: 800px !important;
    }
}

