:root{
    --bg-color: #05142F;
    --accent-text-color: #A6B1D1;
    --text-color: #FFFFFF;
}
html body{
    background-color: var(--bg-color);
}
p{
    color: var(--text-color)
}
a{
    text-decoration: none !important;
    color: var(--text-color) !important;
}