:root{
    --bg-color: #05142F;
    --accent-text-color: #A6B1D1;
    --text-color: #FFFFFF;
}
html body{
    background-color: var(--bg-color);
}
p{
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
}
a{
    text-decoration: none !important;
    color: var(--text-color) !important;
}
h1{
    color: var(--accent-text-color) !important;   
    font-family: 'Comfortaa', sans-serif;
    font-size: 70pt !important;
    text-shadow: 2px 2px 2px #000;
}
h2{
    color: var(--text-color) !important;   
    font-family: 'Unbounded', sans-serif;
    font-size: 30pt !important;
}
h3{
    color: var(--text-color) !important;   
    font-family: 'Comfortaa', sans-serif;
    font-size: 15pt !important;
}
input{
    background-color:#05142F;
    border: none;
    border-bottom: solid 2px #FFF;
}
.nav-link{
    font-size: 17pt !important;
}
.text-areYouShure{
    color: var(--accent-text-color) !important;
    font-weight: lighter;
    text-align: right;
    margin-top: 5rem;
}
#faqAccordion.accordion{
    --bs-accordion-bg : #223268;
    color: var(--text-color) !important;
}

.modal-content{
    background-image: url(Img/Wave.png)
}
.form-text{
    background-color: var(--bg-color) !important;
    color: var(--accent-text-color) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0% !important;
    border-bottom: solid 1px var(--accent-text-color)!important;
    
}
.form-text::placeholder {
    color: var(--accent-text-color) !important; /* Новый цвет текста плейсхолдера */
    opacity: 1; /* Убедитесь, что плейсхолдер полностью видим */
    font-family: 'Comfortaa' !important;
    font-weight: lighter !important;
}
.form-btn{
    background-color: #15267D !important;
    font-family: 'Comfortaa' !important;
    font-size: 20pt !important;
    border: none !important;
    text-align: center !important;
    align-items: center !important;
    width: 146px !important;
    height: 55px !important;
    border-radius: 20px !important;
}
.cross-close {
    filter: brightness(0) invert(1); /* Делает крестик белым */
    background-color: transparent;  /* Убирает фон */
    border: none;                   /* Убирает рамки */
    opacity: 1;                     /* Делает его полностью видимым */
}

.cross-close:hover {
    filter: brightness(0.8) invert(1); /* Подсветка на hover */
    opacity: 1;
}
#emotion-text{
    color: #FFF;
    text-shadow: 0px 0px 100px #FFF;
}
#copyrated{
    p{
        color: var(--accent-text-color) !important;
        font-weight: lighter;
        text-align: center;
        font-family: 'Comfortaa';
    }
}
@media (max-width: 720px) {
    h1{
        font-size: 45pt !important;
    }
}