:root{
    --bg-color: #05142F;
    --accent-text-color: #A6B1D1;
    --text-color: #FFFFFF;
    --bs-accordion-color: white;
}
html body{
    background-color: var(--bg-color);
}
p{
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
}
a{
    text-decoration: none !important;
    color: var(--text-color) !important;
}
h1{
    color: var(--accent-text-color) !important;   
    font-family: 'Comfortaa', sans-serif;
    font-size: 70pt !important;
    text-shadow: 2px 2px 2px #000;
}
h2{
    color: var(--text-color) !important;   
    font-family: 'Unbounded', sans-serif;
    font-size: 30pt !important;
}
h3{
    color: var(--text-color) !important;   
    font-family: 'Comfortaa', sans-serif;
    font-size: 15pt !important;
}
input{
    background-color:#05142F;
    border: none;
    border-bottom: solid 2px #FFF;
}
button {
    border:none;
}
.profile-point{
    margin-top: 2rem;
    font-size: 15pt !important;
    color: var(--accent-text-color);
    font-family: 'Comfortaa';
}
.a-blue{
    color: var(--accent-text-color) !important;
    font-family: 'Comfortaa';
}
.nav-link{
    font-size: 17pt !important;
}
.text-areYouShure{
    color: var(--accent-text-color) !important;
    font-weight: lighter;
    text-align: right;
    margin-top: 5rem;
}
.date {
    color: white;
    font-family: 'Unbounded', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 50px;
}
.color-grid {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }

.color {
    width: 100px !important;
    height: 100px !important;
    border-radius: 15px !important;
}

.filtermenu {
    background-color:#1F264A;
    font-family: 'Comfortaa', sans-serif;
    display: inline-flex;
    text-align: center;
    justify-content:space-evenly;
    padding: 6px;
    margin-top: 30px;
}
.dropdown-toggle {
    background-color: #1F264A !important;
    border: none !important;
}

.dropdown-menu {
    background-color: #1F264A !important;
}

.dropdown-menu a:hover {
    background-color: #31385E !important;
}

.dropdown-toggle:hover {
    background-color: #31385E !important;
}
.cubs {
    margin-bottom: 150px;

}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.accordion-button {
    background-color:#1F264A !important;
    height: 70px;
    border-radius: 20px !important;
    border-color: #31385E !important;
    color: white !important;
}

.accordion-item {
    background-color:#31385E !important;
    color: white !important;
    border-color: #31385E !important;
    border-radius: 20px !important;
}

.accordion-body {
    background-color:#31385E !important;
    border-radius: 20px !important;
    border-color:#31385E !important;
    color: white;
}

.btn-primary {
    margin-top: 20px;
    height: 45px;
    width: 271px;
    display: flexbox !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    background-color: #1F264A !important;
    border-color: rgba(166, 177, 209, 0.7) !important;
    font-size: 13px !important;
}
.stats_cube {
    margin-top: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 27px;
    margin-right: 30px;
    display: inline-block;
    justify-content: space-around;
    background-color: #1F264A;
    font-family: 'Comfortaa', sans-serif;
    font-size: 12pt;
    color: white;
    text-align: left;
    padding: 20px;
    margin-left: 32px;
    width: 259px !important;
}

.stats_cubs {
    justify-content: center;
    text-align: center;
    align-items:center;
    
}

.text-change{
    font-family: 'Comfortaa';
    font-size: 15pt !important;
    color: var(--accent-text-color) !important;
}
#emotion-text{
    color: #FFF;
    text-shadow: 0px 0px 100px #FFF;
}
#copyrated{
    p{
        color: var(--accent-text-color) !important;
        font-weight: lighter;
        text-align: center;
        font-family: 'Comfortaa';
    }
}

@media (max-width: 720px) {
    h1{
        font-size: 45pt !important;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        grid-template-rows: repeat(8, 1fr); /* 8 строк */
        row-gap: 20px;
        column-gap: 20px;
      }
      .color {
        width: 70px !important;
        height: 70px !important;
        border-radius: 15px !important;
    }
    .dropdown{
        width: 300px !important;
        font-size: 16pt !important;
    }
      
}
@media (max-width: 450px) {
    .color-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        grid-template-rows: repeat(8, 1fr); /* 8 строк */
        row-gap: 20px;
        column-gap: 20px;
      }
      .color {
        width: 60px !important;
        height: 60px !important;
        border-radius: 15px !important;
        
    }
      
}
@media (max-width: 431px) {
    h1{
        font-size: 45pt !important;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        grid-template-rows: repeat(8, 1fr); /* 8 строк */
        row-gap: 20px;
        column-gap: 20px;
      }
      .color {
        width: 80px !important;
        height: 80px !important;
        border-radius: 15px !important;
        
    }
      
}
@media (max-width: 390px) {
    h1{
        font-size: 45pt !important;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        grid-template-rows: repeat(8, 1fr); /* 8 строк */
        row-gap: 20px;
        column-gap: 20px;
      }
      .color {
        width: 70px !important;
        height: 70px !important;
        border-radius: 15px !important;
        
    }
      
}
@media (max-width: 360px) {
    h1{
        font-size: 45pt !important;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        grid-template-rows: repeat(8, 1fr); /* 8 строк */
        row-gap: 20px;
        column-gap: 20px;
      }
      .color {
        width: 60px !important;
        height: 60px !important;
        border-radius: 15px !important;
        
    }
      
}