.circle {
    width: 20px !important;         
    height: 20px !important;
    border-radius: 50%;
    background-color: #DCD7D0; 
    margin-top: 0.5%;
    position: static;
    margin-left: 2rem;
}
.bordered{
    border: solid 1px #FFFFFF;
    border-radius: 23px;
}
.vertical-text{
    margin-left: 1rem;
    transform: rotate(-90deg);
    transform-origin: center;
    justify-content: center;
    /*Без переноса строки*/
    white-space: nowrap;
    color:#FFF;
    display: inline-block;
    
}
@media (max-width: 720px) {
    .circle{
        margin-left: 0rem;
    }
    .navbar-wrapper {
        width: 100% !important;
    }
    .vertical-text{
        display: none;
    }
}