.point-num{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    height: 64px;
    width: 64px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #16267D, #6E2257);
    font-size: 20pt !important;
}
.point{
    margin-left: 0rem;
}
.text{
    margin-left: 0rem;
}
.point-text{
    display: flex;
    justify-content: center;
    height: 285.55px;
    width: 435px;
    border-radius: 20px;
    background: #181E3D;
    box-shadow: 0px 2px 3px #000000;
    font-size: 20pt !important;
}
.point-text-head{
    display: flex;
    justify-content: center;
    height: 129.26px;
    width: 435px;
    border-radius: 20px;
    background: #1F264A;
    box-shadow: 0px 2px 3px #000000;
    font-size: 17pt !important;
    font-weight: lighter;
}
.text-in-point{
    margin: 1rem;
    display: flex;
    align-items: center;
    font-size: 14pt;
    font-weight: lighter;
}
#main-text{
    margin-top: 10rem;
}
#main-point{
    margin-top: 15rem;
}

@media (max-width: 720px) {
    .point{
       margin-left: 0rem;
    }
    .text{
        margin-left: 0rem;
    }
    .point-text{
        width: 350px;
        height: 300px;
    }
    .point-text-head{
        width: 350px;
    }
    .point-num{
        margin-bottom: 1rem;
    }
    #point-container{
        margin-left: 0rem !important;
    }
    #point-2, #point-4{
        margin-top: 3rem;
    }
}
@media (max-width: 400px){
    .point-text{
        width: 320px;
        height: 350px;
    }
    .point-text-head{
        width: 320px;
    }
    .point-num{
        margin-bottom: 1rem;
    }
}