html, body {
    overflow-x: hidden !important;
}
.profile-text{
    margin-top: -1rem !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    font-size: 20pt !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0% !important;
    border-bottom: solid 1px var(--accent-text-color)!important;
    
}
.text-side{
    font-family: 'Unbounded' !important;
    font-size: 24pt !important;
    color: var(--accent-text-color) !important;
}
.text-main{
    font-family: 'Unbounded' !important;
    font-size: 32pt !important;
    color: var(--text-color) !important;
}

#isActive{
    color: red !important;
}
#user{
    font-size: 20pt !important;
}
#prof-login{
    font-size: 40pt !important;
}
@media (max-width: 720px) {
    footer{
        flex-direction: column !important;
    }
    a.top-links{
        display: none !important;
    }
    .hidden-navbar{
        display: block !important;
    }
    .vyiti {
        font-size: 10pt !important;
    }
    .prof-fields p{
        font-size: 10pt !important;
    }
    .prof-fields input{
        width: 300px !important;
    }
    #exit{
        font-size: 10pt !important;
    }
    .inputline{
        display: flex !important;
        justify-content: center;
    }
    #confirmUncomfirm a{
        font-size: 10pt !important;
    }
    #profile-img{
        width: 100px !important;
        height: 100px !important;
        margin-right: 0rem;
        margin-top: -0.5rem;
    }
    #head{
        margin-top: 0rem !important;
    }
    #photo{
        display: flex;
        justify-content: left;

    }
    #photo p{
        font-size: 10pt !important;
    }
    #reg-window{
        height: 600px !important;
    }
    #user{
        font-size: 10pt !important;
    }
    #prof-login{
        font-size: 15pt !important;
    }
    #status, #isActive{
        font-size: 10pt !important;
    }
    #subscribe{
        width: 100% !important;
    }
    #status-line{
        display: block;
        white-space: normal; /* разрешает перенос текста */
        text-align: right;
        font-size: 20pt !important;
    }
    #edit1 {
        display: none !important;
    }
    #edit2 {
        font-size: 10pt !important;
        text-align: right;
        display: flex !important;
        justify-content: end;
    }
    #footer-text{
        width: 300px !important;
        justify-content: space-between !important;
    }
    #footer-text a{
        font-size: 10pt !important;
    }
    #prof-img-hrefs img{
        margin-left: -9rem;
        margin-bottom: 1rem;
    }
    #vk-img{
        margin-left: 260px;
    }

}